.App{
    height: 50vh;
    width: 50vh;
    border: 2px solid;
    margin: auto;
    margin-top: 81px;
    border-radius: 12px;
    background-color: #2d3436;

}

.screen{
    height: 20%;
    width: 80%;
    border: 2px solid;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #00b894;
    color: white;
    border: none;
    padding: 14px;
    word-wrap: break-word;
    overflow-y: auto;
}
@font-face{
    font-family:'digital-clock-font';
    src: url('E:\React\calculator\src\fonts\digital-7.ttf');
   }
.screen span{
    font-size: 30px;
    font-weight: 500;
    font-family:'digital-clock-font';
}

.btn-container{
    height: 50%;
    width: 100%;
    /* border: 1px solid; */
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    height: 2rem;
    width: 4rem;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: #b2bec3;
    border: none;
    outline: none;
}
button:hover{
    background-color: #636e72;
}